.body{
    margin-top: 10%;
}

.firstblock{
    vertical-align: middle;
}

.firstimg {
    width: 100%;
    height: 300px;
    border-radius: 5%;
}

.mytext{
    position: absoulte;
    transform: translate(0%, 625%);
    color: white;
    text-shadow: 2px 2px black;
}

.mybox{
    position: relative;
    text-align: center;
}